
body {
  background-image: url('images/jpg/old.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.image {
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
